* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

.signup-box {
  width: 360px;
  padding: 40px;
  background: #1e1e1e;
  border: 2px solid #00f2ff;
  animation: slideUp 0.7s ease-in-out;
}

/* Rectangle only */
input,
button {
  border-radius: 0;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #00f2ff;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #555;
  color: white;
  outline: none;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #777;
  transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -15px;
  font-size: 12px;
  color: #00f2ff;
}

button {
  width: 100%;
  padding: 12px;
  background: #00f2ff;
  color: black;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #00c3cc;
}
